.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: black;
}


/*.Button {
  align-items: center;
  justify-content: center;
}*/

.App-link {
  color: #61dafb;
}


